a {
color: green;
text-decoration: none;

}
a:visited{
    color:black;  
   
}

.mainImage{
    border-radius: 100px;
    width: 30%;
    image-rendering: pixelated;
}

.textBoxStyle{
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;
    width: 20%;
}

.holdingContainer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    border-width: 5px;
    border-radius: 10px;
    border-style: double;
    border-color: aliceblue;
    width: 100%;
    

}

.objectImage{
    margin: 5px;
    border-radius:25px;
    border-style: solid;
    border-width: 5px;
    width: 70%;
    image-rendering: pixelated;
    border-color: rgb(0, 0, 0);
}

.descriptionContainer{
    width: 40%;
    color: aliceblue;
    background-color: black;
    margin-bottom: 5px;
    border-width: 5px;
    border-radius: 10px;
    border-style: double;
    border-color: aliceblue;
    display: inline-block;
}

.screenContents{
 
   
    width: 100%;
}

.objectContainer{
    background-color: rgb(56, 9, 9);
    margin: 30px;
   
    color: rgb(167, 167, 167);
    width: 20%;
    min-height: 200px;
    display: inline-block;
    position: relative;

}


@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits:false;
}

.objectContainer::after, .objectContainer::before{
    
    content:"";
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), red, orange, yellow,green,blue,purple,pink,red);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: 3s spin linear infinite;

}
.objectContainer::before{
    filter: blur(3.0rem);

}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle:360deg;
    }
}
